/* 
    Created on : 05-Jan-2018, 15:00:00
    Author     : Luke Prendergast
*/

@import 'mixins.less';
        
body {
    background: white;
    font-family: @main-font;
        
    /*** CONTENT CLASSES ***/
    
    h1 {
        font-family: @heading-font;
        margin: 40px 0 10px 0;
        font-size: 35px;
        font-weight: @extra-light;
        color: @mulled-wine;
        letter-spacing: -1.5px;
        
        @media @400 {
            font-size: 50px;
            line-height: 1.1;
            letter-spacing: -2px;
        }
    }
    
    h2 {
        font-family: @heading-font;
        font-size: 25px;
        color: @carnation;
        margin: 50px 0 30px 0;
        letter-spacing: -0.75px;
        font-weight: @bold;
        line-height: 1.2;
        
        @media @400 {
            font-size: 30px;
            line-height: 1.1;
        }
    }
    
    h1 + h2 {
        margin-top: 10px;
    }
    
    p, li {
        font-size: 16px;
        color: @dark-grey;
        line-height: 1.3;
        letter-spacing: -0.25px;
        margin: 0 0 20px;
        font-weight: @extra-light;
        
        @media @400 {
            font-size: 18px;
        }
        
        a {
            &:link, &:visited {
                border-bottom: 1px solid @carnation;
                color: @carnation;
                text-decoration: none;
                font-weight: @bold;
            }

            &:hover {
                border-bottom-color: transparent;
                .transition();
            }
        }
    }
    
    strong {
        font-weight: @bold;
    }
    
    .btn {
        color: white;
        margin-right: 10px;
        padding: 8px 16px;
        font-size: 16px;

        &:hover {
            color: white;
        }

        &.btn-block {
            @media @600 {
                display: inline-block;
                width: auto;
                margin-top: 0;
            }
        }

        &.btn-primary {
            background-color: @carnation;
            border-color: transparent;

            &:hover {
                border-color: @carnation;
                background-color: lighten(@carnation, 6%);
            }
        }

        &.btn-secondary {
            background-color: @mulled-wine;

            &:hover {
                border-color: @mulled-wine;
                background-color: lighten(@mulled-wine, 6%);
            }
        }

        &.btn-tertiary {
            background-color: @chateau-green;

            &:hover {
                border-color: @chateau-green;
                background-color: lighten(@chateau-green, 6%);
            }
        }
        
        svg {
            margin-left: 6px;
        }
    }
    
    .no-padding {
        padding: 0 !important;
        margin: 0 !important;
    }
    
}
