/* 
    Created on : 05-Jan-2018, 15:00:00
    Author     : Luke Prendergast
*/

@import 'mixins.less';
        
body {
    #main-content {
        .list-group {
            list-style-type: none;
            
            li {
                svg {
                    margin-right: 10px;
                    color: @carnation;
                }
            }
        }
        
        .form-group {
            margin: 0 0 15px;
            
            textarea {
                height: 100px;
            }
        }
        
        #locations {
            .locations {
                padding: 60px 0;
                border-bottom: 2px dotted @mulled-wine;
                margin: 0;
            
                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    border-bottom: none;
                    margin-bottom: 80px;
                }
                
                div {
                    padding: 0;

                    h3 {
                        margin-top: 0;
                    }

                    iframe {
                        width: 100%;
                        height: 400px;
                    }
                }
            }
        }
    }
}
