/* 
    Created on : 05-Jan-2018, 15:00:00
    Author     : Luke Prendergast
*/

@import 'mixins.less';
        
body {
    #intro {
        background: lighten(@foam, 4%);
        padding-bottom: 40px;
        
        .container{
            @media @1000 {
                background-image: url('../img/welcome1.png');
                background-repeat: no-repeat;
                background-position: right top;
            }
        }
    }
    
    #ofsted {
        background-color: @san-marino;
        padding: 35px 0;
        overflow: auto;
        
        .container{
            @media @1000 {
                background-image: url('../img/ofsted-logo-200.png');
                background-repeat: no-repeat;
                background-position: right center;
            }
            
            h3 {
                color: white;
                font-weight: @extra-light;
                text-transform: none;
                font-size: 38px;
                margin: 0 0 20px 0;
                letter-spacing: -1px;
            }

            p {
                color: white;
            }
        }
    }
    
    #main-content {
        .col-xs-12 {
            border-right: none;
            margin-bottom: 40px;
            
            @media @1000 {
                border-right: dotted 1px @grey;
                margin-bottom: 0;
            }
            
            &:last-child {
                border-right: none;
            }
            
            h3 {
                text-transform: none;
                font-size: 30px;
                font-weight: @extra-light;
                letter-spacing: -1px;
                margin: 0 0 40px 0;
                
                svg {
                    margin-right: 10px;
                }
            }
                
            &.news {
                h3, h4 {
                    color: @carnation;
                }
            }

            &.health {
                h3, h4, p a:link, p a:visited {
                    color: @mulled-wine;
                }
                
                p a {
                    border-color: @mulled-wine;
                    
                    &:hover {
                        border-color: transparent;
                    }
                }
            }

            &.terms {
                h3, h4 {
                    color: @chateau-green;
                }
            }

            .news-item {
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: dotted 1px @grey;

                &:last-child {
                    border-bottom: none !important;
                    margin-bottom: 0;
                }

                h4 {
                    text-transform: uppercase;
                    font-weight: @bold;
                    line-height: 1.3;
                }

                p {
                    margin: 0;
                }
            }
            
            .btn {
                width: 100%;
            }
        }
    }
}
