/* 
    Created on : 05-Jan-2018, 15:00:00
    Author     : Luke Prendergast
*/

@import 'mixins.less';
        
body {
    background: white;
    font-family: @main-font;
        
    /*** CONTENT CLASSES ***/
    
    h1 {
        font-family: @heading-font;
        margin: 40px 0 10px 0;
        font-size: 35px;
        font-weight: @extra-light;
        color: @mulled-wine;
        letter-spacing: -1.5px;
        
        @media @400 {
            font-size: 50px;
            line-height: 1.1;
            letter-spacing: -2px;
        }
    }
    
    h2 {
        font-family: @heading-font;
        font-size: 25px;
        color: @carnation;
        margin: 50px 0 30px 0;
        letter-spacing: -0.75px;
        font-weight: @bold;
        line-height: 1.2;
        
        @media @400 {
            font-size: 30px;
            line-height: 1.1;
        }
    }
    
    h1 + h2 {
        margin-top: 10px;
    }
    
    h3 {
        font-family: @heading-font;
        font-size: 20px;   
        margin: 45px 0 15px 0;  
        text-transform: uppercase;
        color: @mulled-wine;
        font-weight: @bold;
        letter-spacing: -1px;
    }
    
    h2 + h3 {
        margin-top: 0;
    }
    
    h4 {
        font-family: @heading-font;
        font-size: 18px;
        margin: 25px 0 15px 0;  
        text-transform: uppercase;
        color: @dark-grey;
        font-weight: @bold;
        letter-spacing: -0.5px;
    }
    
    p, li {
        font-size: 16px;
        color: @dark-grey;
        line-height: 1.4;
        letter-spacing: -0.25px;
        margin: 0 0 20px;
        font-weight: @extra-light;
        
        @media @400 {
            font-size: 18px;
        }
        
        a {
            &:link, &:visited {
                border-bottom: 1px solid @carnation;
                color: @carnation;
                text-decoration: none;
                font-weight: @light;
            }

            &:hover {
                border-bottom-color: transparent;
                .transition();
            }
        }
    }
    
    strong {
        font-weight: @bold;
    }
    
    .btn {
        color: white;
        margin-right: 10px;
        padding: 8px 16px;
        font-size: 16px;

        &:hover {
            color: white;
        }

        &.btn-block {
            @media @600 {
                display: inline-block;
                width: auto;
                margin-top: 0;
            }
        }

        &.btn-primary {
            background-color: @carnation;
            border-color: transparent;

            &:hover {
                border-color: @carnation;
                background-color: lighten(@carnation, 6%);
            }
        }

        &.btn-secondary {
            background-color: @mulled-wine;

            &:hover {
                border-color: @mulled-wine;
                background-color: lighten(@mulled-wine, 6%);
            }
        }

        &.btn-tertiary {
            background-color: @chateau-green;

            &:hover {
                border-color: @chateau-green;
                background-color: lighten(@chateau-green, 6%);
            }
        }
        
        svg {
            margin-left: 6px;
        }
    }
    
    .no-padding {
        padding: 0 !important;
        margin: 0 !important;
    }
    
    /*** MASTER LAYOUT ***/    
    header {
        /* The sticky class is added to the navbar with JS when it reaches its scroll position */
        &.sticky {
            margin-bottom: 60px;
        }
        
        #information-bar {
            background-color: @mulled-wine;
            padding: 12px 0;
            color: white;
            font-size: 14px;
            overflow: auto;

            .container {
                ul {
                    list-style-type: none;
                    padding: 0;

                    i {
                        margin: 5px 16px 0;
                        border-left: 1px dotted white;
                        height: 12px;
                        display: block;
                        float: left;
                    }

                    li {
                        float: left;
                        font-size: 14px;
                        display: block;
                        margin: 0;
                        color: white;

                        svg.fa-phone {
                            margin-right: 10px;
                        }

                        a {
                            &:link, &:visited {
                                border-bottom: 1px solid @mulled-wine;
                                color: white;
                                text-decoration: underline;
                                font-weight: @extra-light;
                                margin-right: 10px;
                                
                                &:last-child {
                                    margin-right: 0;
                                }
                            }

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }

                svg {
                    color: white;
                }

                .show-500 {
                    display: none;

                    @media @500 {
                        display: block;
                    }
                }

                .show-900 {
                    display: none;

                    @media @900 {
                        display: block;
                    }
                }

                .pull-right {
                    float: left !important;

                    @media @900 {
                        float: right !important;
                    }
                }
            }
        }
        
        #header-image {
            height: 350px;
            background: @foam; /* fallback */
            background-image: url('../img/header.png'); /* fallback */
            background-image: url('../img/header.png'), linear-gradient(@foam, white);
            background-repeat: no-repeat;
            background-position: bottom center;
            
            .container {
                #logo {
                    width: 274px;
                    height: 61px;
                    display: block;
                    margin: 0 auto;
                    position: relative;
                    top: 20px;
                    background-image: url('../img/logo-274.png');
                    background-repeat: no-repeat;
                    background-position: center center;

                    @media @400 {
                        width: 350px;
                        height: 78px;
                        background-image: url('../img/logo-350.png');
                    }

                    @media @600 {
                        margin: 0;
                        width: 400px;
                        height: 89px;
                        background-image: url('../img/logo-400.png');
                    }
                }
            }
        }

        /* Site Navigation */
        nav {
            font-family: @heading-font;
            background-color: @carnation;
            border-radius: 0 !important;
            margin-bottom: 0 !important;
            
            /* The sticky class is added to the navbar with JS when it reaches its scroll position */
            &.sticky {
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 9999;
                min-height: 30px;
                
                .container {
                    #logo {
                        width: 128px;
                        height: 50px;
                        .transition();
                    }
                    
                    .navbar-collapse {
                        @media @768 {
                            float: right;
                        }

                        ul {
                            &.dropdown-menu {
                                li {
                                    font-size: 13px;

                                    a {
                                        padding: 8px 14px !important;
                                    }
                                }
                            }
                            
                            li {
                                font-size: 14px;
                                
                                @media @1000 {
                                    font-size: 15px;
                                }
                                
                                a {
                                    padding: 15px 8px !important;
                                    .transition();
                                    
                                    @media @1000 {
                                        padding: 15px 10px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            #logo {
                background: url('../img/logo-sticky.png') no-repeat left center;
                width: 0;
                height: 0;
                margin-left: 15px;
                padding: 0;
                
                @media @768 {
                    margin: 0;
                }
            }
            
            .navbar-toggle {
                .icon-bar {
                    background-color: white;
                }
            }
            
            .navbar-collapse {
                background-color: lighten(@carnation, 4%);
                
                @media @768 {
                    background-color: @carnation;
                }
                
                ul {
                    &.dropdown-menu {
                        display: none;
                        background-color: lighten(@carnation, 8%) !important;

                        li {
                            font-size: 14px;

                            a {
                                padding: 8px 16px !important;
                            }
                        }
                    }
                        
                    @media @768 {
                        display: flex;
                        justify-content: center;
                        float: none !important;
                        
                        &.dropdown-menu {
                            display: none;
                            background-color: lighten(@carnation, 4%) !important;
                        }
                    }

                    li {
                        font-size: 15px;
                        margin: 0;
                        
                        &.open {
                            ul {
                                &.dropdown-menu {
                                    display: block;
                            
                                    a {
                                        color: white;
                                        background-color: lighten(@carnation, 8%) !important;
                                    }
                                }
                            }
                            
                            a {
                                color: @carnation;
                                background-color: lighten(@carnation, 25%) !important;
                            }
                        }

                        @media @1000 {
                            font-size: 16px;
                        }

                        a {
                            color: white;
                            padding: 12px 12px !important;

                            @media @1000 {
                                padding: 15px 25px !important;
                            }

                            &:link, &:visited {
                                border-bottom: 0;
                                color: white;
                                font-weight: @extra-light;
                            }

                            &:hover, &:focus {
                                color: @carnation;
                                background-color: lighten(@carnation, 25%) !important;
                            }
                        }
                    }
                }
            }
        }
        /* Site Navigation End */
    }
    
    #main-content {
        min-height: 300px;
        background: @foam; /* fallback */
        background-image: url('../img/footer-fence.png'); /* fallback */
        background-image: url('../img/footer-fence.png'), linear-gradient(@foam, white);
        background-repeat: no-repeat;
        background-position: bottom center;
        padding: 50px 0 150px;
        
        .row {
            @media @1000 {
                /* needed to get position: sticky to work on #headings */
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
            }
            
            .breadcrumb {
                background-color: transparent;
                padding: 0;
                
                li {
                    margin-bottom: 8px;
                }
                
                &>li+li:before {
                    padding: 0 5px;
                    color: @carnation;
                    content: "/\00a0";
                }
            }
            
            #headings {
                padding-top: 70px;
                
                @media @1000 {
                    /* get div to follow on scroll */
                    position: -webkit-sticky;  // required for Safari
                    position: sticky;
                    top: 0; // required as well.
                }
                
                h3 {
                    margin-top: 0;
                }
                
                ul {
                    list-style-type: none;
                    padding: 0;
                    
                    li {
                        font-size: 16px;
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
    
    footer {
        background-color: @pine-cone;
        
        #links {
            overflow: auto;
            margin-bottom: 60px;
            
            h3 {
                color: @carnation;
            }

            p {
                color: white;
                font-size: 16px;
            }
            
            h4 {
                margin: 20px 0 12px;

                a {
                    color: white;
                }
                
                span{
                    font-weight: @extra-light;
                    color: white;
                    text-transform: none;
                }
                
                @media @1000 {
                    margin-top: 0;
                }
            }

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    color: white;
                    font-size: 16px;
                    margin: 0 0 6px;
                    word-wrap: break-word;
                    
                    svg {
                        margin-right: 10px;
                    }

                    a {
                        color: white;
                        padding-bottom: 2px;
                        font-weight: @bold;
                        
                        &:link, &:visited {
                            color: white;
                            border-bottom: 1px solid lighten(@pine-cone, 30%);
                        }
                        
                        &:hover {
                            text-decoration: none;
                            border-bottom: 1px solid @pine-cone;
                        }
                    }
                }
            }
        }
        
        #copyright {
            font-size: 15px;
            text-align: center;
            padding: 10px 0;
            color: white;
            letter-spacing: -0.5px;
            clear: both;
            font-weight: @extra-light;
            padding: 6px;
            
            @media @500 {
                font-size: 16px;
            }

            a {
                color: white;
                padding-bottom: 2px;
                font-weight: @bold;

                &:link, &:visited {
                    color: white;
                    border-bottom: 1px solid lighten(@pine-cone, 30%);
                }

                &:hover {
                    text-decoration: none;
                    border-bottom: 1px solid @pine-cone;
                    .transition();
                }
            }
        }
    }
        
    .content {
        max-width: 1260px;
        margin: 0 auto;
        padding: 0 12px;
        box-sizing: border-box;
        
        @media @700 {
            padding: 0 20px;
        }
        
        @media @1300 {
            padding: 0;
        }
    }
}
