/* 
    Created on : 05-Jan-2018, 15:00:00
    Author     : Luke Prendergast
*/

@import 'mixins.less';
        
body {
    #main-content {
        #latest {
            div {
                border-bottom-color: @carnation;
            }
        }
        
        #old {
            div {
                border-bottom-color: @mulled-wine;
            }
        }
        
        #latest, #old {
            div {
                padding: 25px 0;
                border-bottom-width: 2px;
                border-bottom-style: dotted;
                
                @media @1000 {
                    margin-right: 50px;
                }
                    
                &:last-child {
                    border-bottom: 0;
                }

                h3 {
                    margin: 0;
                }

                .date {
                    display: block;
                    margin-bottom: 20px;
                    font-size: 18px;
                    font-weight: @extra-light;
                    color: @chateau-green;
                }

                p {
                    margin: 0;
                }

                .btn {
                    margin-top: 20px;
                }
            }
        }
    }
}
