/* 
    Created on : 05-Jan-2018, 15:00:00
    Author     : Luke Prendergast
*/

@import 'mixins.less';
        
body {
    #main-content {
        .row {
            // need display: block to overide display: flex in master so div doesn't stretch to height of container
            display: block;
            
            #ofsted-logo {
                height: 230px;
                margin-top: 40px;
                background-color: @san-marino;
                background-image: url('../img/ofsted-logo-200.png');
                background-repeat: no-repeat;
                background-position: center center;
                .rounded-corners();
                
                @media @768 {
                    margin-top: 0;
                }
            }
        }
    }
}
