/* 
    Created on : 05-Jan-2018, 15:00:00
    Author     : Luke Prendergast
*/

@import 'mixins.less';
        
body {
    #main-content {      
        .staff {
            padding: 25px 0;
            border-bottom-width: 1px;
            border-bottom-style: dotted;
            border-bottom-color: @mulled-wine;
            overflow: auto;

            &:last-child {
                border-bottom: 0;
            }

            // for use in fees-and-funding
            h3 {
                margin: 0;
            }
            
            span {
                color: @mulled-wine;
                
                &.name {
                    h2 {
                        color: @carnation;
                        font-weight: @bold;
                        font-size: 19px;
                        margin: 0;
                    }
                }
                
                &.role {
                    font-size: 17px;
                    margin-bottom: 15px !important;
                    
                    @media @768 {
                        margin-bottom: 0 !important;
                    }
                }
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    font-size: 16px;
                    margin-bottom: 8px;
                    font-weight: @light;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
