/* 
    Created on : 05-Jan-2018, 15:00:00
    Author     : Luke Prendergast
*/

@import 'mixins.less';
        
body {
    #main-content {
        h2 {
            clear: both;
        }
        
        .year {
            margin-bottom: 80px !important;
            overflow: auto;
        
            .title {
                padding: 10px 0;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: @mulled-wine;
                overflow: auto;
            }

            .holidays {
                padding: 10px 0;
                border-bottom-width: 1px;
                border-bottom-style: dotted;
                border-bottom-color: @mulled-wine;
                overflow: auto;
                
                .child {
                    padding: 4px 0;
                    overflow: auto;
                    
                    span {
                        padding: 0;
                        
                        strong {
                            font-weight: @light;
                        }
                    }
                }

                &:last-child {
                    border-bottom: 0;
                }

                span {
                    color: @mulled-wine;
                    font-weight: @bold;

                    &.name {
                        h3 {
                            color: @carnation;
                            font-weight: @bold;
                            font-size: 17px;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
